.header{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 15vh;
    justify-content: center;
}

.header h1{ 
    margin-left: 3rem;
    font-size: 2.5rem;
    
}

.header #pitch{
    color: #e9ba00;
    margin-bottom: -0.25rem;
}

.header #perfect{
    color: #ffffff;
    margin-top: -0.25rem;
}

.logo{
    cursor: pointer;
    width: fit-content;
}

.logo:hover {
    opacity: 0.8;
}